.error{
    width: 100%;
    padding: 2rem;
    text-align: center;
    height: calc(100vh - 170px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h1{
        font-size: 4rem;
    }
    p{
        font-size: 2rem;
    }

    .btn{
        width: min(250px, 100%);
        margin-top: 1rem;
    }
}
