.stats{
    display: flex;
    // align-items: flex-start;
    justify-content: space-between;
    gap: .5rem;
    margin-top: 1rem;

    &.stats_01{
        flex-wrap: wrap !important;
    }

    .stat{
        width: calc(33% - .5rem);
        background-color: #C7C7C799;
        text-align: left;
        border-radius: 8px;
        padding: 1.5rem;
        box-shadow: 3px 3px 3px rgba(77, 76, 76, 0.253);
        display: flex;
        align-items: center;
        gap: .75rem;

        .icon{
            background-color: var(--white);
            border-radius: 5px;
            padding: .5rem;
            width: 60px;
            height: 60px;
            aspect-ratio: 1;
            display: flex;
            align-items: center;
            justify-content: center;

            i{
                font-size: 1.5rem;
            }
        }

        .text{
            h5{
                font-weight: 500;
                font-size: .9rem;
            }
            h2{
                font-weight: 700;
                font-size: 1.5rem;
            }
        }

        &.red{
            background-color: #f1a59457;
            i{
                color:#f1a594bb;
            }
        }
        &.grey{
            background-color: #bcd7f554;
            i{
                color:#bcd7f5b7;
            }
        }

        @media screen and (max-width: 1080px) {
            width: calc(50% - .5rem);
        }
        @media screen and (max-width: 900px) {
            width: 100%;
        }
    }
    @media screen and (max-width: 1080px) {
        flex-wrap: wrap;
    }
}

.stat-2{
    width: 25%;
    &.max{
        width: 75%;
    }
    .header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: .5rem;

        h5{
            font-size: 1rem;
            font-weight: 500;

            @media screen and (max-width: 1330px) {
                font-size: 1.1vw;
            }
            @media screen and (max-width: 1080px) {
                font-size: 1.5vw;
            }
            @media screen and (max-width: 800px) {
                font-size: 2vw;
            }
        }
        .form_group{
            width: max-content;
        }
    }
    h4{
        font-size: 1.5rem;
        font-weight: 700;
        margin: .5rem 0;
    }

    .stat_block{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: .5rem;

        .asso-stat{
            width: calc(50% - 1rem);
            display: flex;
            align-items: center;

            .label{
                max-width: 60px;
                font-size: .8rem;
                width: 100%;
                text-overflow: ellipsis;
                overflow: hidden;
                font-weight: 500;
            }

            .percent-bar-wrapper{
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                overflow: hidden;
                background-color: rgb(136, 201, 255);
                width: 100%;
                font-size: .8rem;
                height: 20px;

                .percent-value{
                    position: absolute;
                    background-color: rgb(68, 162, 250);
                    left: 0;
                    top: 0;
                    width: var(--stat-width);
                    height: 100%;
                }
                .percent-value-text{
                    position: absolute;
                    inset: 1;
                    left: 50%;
                    transform: translateX(-50%);
                    background-color: transparent;
                    color: white;
                    width: 100%;
                    text-align: center;
                    @media screen and (max-width: 1330px) {
                        font-size: 1vw;
                    }
                    @media screen and (max-width: 1080px) {
                        font-size: 1.25vw;
                    }
                    @media screen and (max-width: 780px) {
                        font-size: 1.75vw;
                    }
                }
            }

            @media screen and (max-width: 1200px) {
                width: 100%;
            }
        }
    }

    @media screen and (max-width: 1080px) {
        width: 100%;
        &.max{
            width: 100%;
        }
    }
}
