.card_form_group{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 1rem auto;
    gap: 1rem;

    @media screen and (max-width: 1024px) {

        flex-direction: column;
    }

    .card_form{
        h1{
            margin-bottom: 1.5rem;
        }

        width: 50%;
        .btn{
            width: 50%;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
            margin: 1rem auto;
            text-transform: uppercase;

            @media screen and (max-width: 1350px) {
                width: 100%;
            }
        }

        &.form_pwd{
            width: 35%;
            @media screen and (max-width: 1250px) {
                width: 100%;
            }
        }
        @media screen and (max-width: 1250px) {
            width: 100%;
        }
    }
}
.d-none{
    display: none;
}
.menu{
    margin: 1rem auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .75rem;

    li{
        background-color: #d0d0d0;
        padding: 0.75rem 1.5rem;
        border-radius: 5px;
        font-weight: 500;
        cursor: pointer;

        &.active{
            color: white;
            background-color: var(--main);
        }
    }
}
.js_password_eye{
    cursor: pointer;
}
